In [1]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
df

Empty DataFrame
Columns: []
Index: []

In [43]:
#creating dict of list data to create DF
lst_warn_data = {
    'CID': ['54123','29465','29466','432017','20174','16017'],
    'Type': ['Type1','Type2','Type3','Type4','Type4','Type5'],
    'File': ['File1','File2','File2','File2','File3','File4'],
    'Function': ['App1','Func1','App2','Func2','App3','Func3']
}
df = pd.DataFrame(lst_warn_data)# created DF through dict list
df

      CID   Type   File Function
0   54123  Type1  File1     App1
1   29465  Type2  File2    Func1
2   29466  Type3  File2     App2
3  432017  Type4  File2    Func2
4   20174  Type4  File3     App3
5   16017  Type5  File4    Func3

In [44]:
row,cols = df.shape #save no.of rows and columns
print(row,cols)

6 4

In [11]:
df.head(2) #Display first 2 rows value with header

     CID   Type   File Function
0  54123  Type1  File1     App1
1  29465  Type2  File2    Func1

In [12]:
print(df.head(2))#Display first 2 rows value with header

     CID   Type   File Function
0  54123  Type1  File1     App1
1  29465  Type2  File2    Func1

In [22]:
df[1:3] # Display data from rows 1 to 2 (3-1)

     CID   Type   File Function
1  29465  Type2  File2    Func1
2  29466  Type3  File2     App2

In [23]:
df.loc[1:2] # Display data from rows 1 to 2

     CID   Type   File Function
1  29465  Type2  File2    Func1
2  29466  Type3  File2     App2

In [24]:
df.tail(2) #Display last 2 rows value with header

     CID   Type   File Function
4  20174  Type4  File3     App3
5  16017  Type5  File4    Func3

In [42]:
df.loc[4:5] # Display data from rows 4 to 5

     CID   Type   File Function
4  20174  Type4  File3     App3
5  16017  Type5  File4    Func3

In [27]:
df[4:6] # Display data from rows 4 to 5 (3-1)

     CID   Type   File Function
4  20174  Type4  File3     App3
5  16017  Type5  File4    Func3

In [31]:
df.columns #display column Header alone

Index(['CID', 'Type', 'File', 'Function'], dtype='object')

In [34]:
df['CID'] # display column 'CID' data

0     54123
1     29465
2     29466
3    432017
4     20174
5     16017
Name: CID, dtype: object

In [48]:
df['Type'] # display column 'Type' data

0    Type1
1    Type2
2    Type3
3    Type4
4    Type4
5    Type5
Name: Type, dtype: object

In [37]:
df['CID'][df['File']=='File2'] # display CID for the file "File2"

1     29465
2     29466
3    432017
Name: CID, dtype: object

In [45]:
df[['CID','File']] # display selective columns

      CID   File
0   54123  File1
1   29465  File2
2   29466  File2
3  432017  File2
4   20174  File3
5   16017  File4

In [82]:
df.set_index('CID')

         Type   File Function
CID
54123   Type1  File1     App1
29465   Type2  File2    Func1
29466   Type3  File2     App2
432017  Type4  File2    Func2
20174   Type4  File3     App3
16017   Type5  File4    Func3

In [83]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [84]:
df

      CID   Type   File Function
0   54123  Type1  File1     App1
1   29465  Type2  File2    Func1
2   29466  Type3  File2     App2
3  432017  Type4  File2    Func2
4   20174  Type4  File3     App3
5   16017  Type5  File4    Func3

In [85]:
df.set_index('CID', inplace=True)

In [86]:
df.index

Index(['54123', '29465', '29466', '432017', '20174', '16017'], dtype='object', name='CID')

In [87]:
df

         Type   File Function
CID
54123   Type1  File1     App1
29465   Type2  File2    Func1
29466   Type3  File2     App2
432017  Type4  File2    Func2
20174   Type4  File3     App3
16017   Type5  File4    Func3

In [88]:
df.loc['54123']

Type        Type1
File        File1
Function     App1
Name: 54123, dtype: object

In [81]:
df.reset_index(inplace=True)