In [1]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
df

Empty DataFrame
Columns: []
Index: []

In [5]:
warn_data = {
    'CID': ['54123','29465','29466','432017','20174','16017'],
    'Type': ['Type1','Type2','Type3','Type4','Type4','Type5'],
    'File': ['File1','File2','File2','File2','File3','File4'],
    'Function': ['App1','Func1','App2','Func2','App3','Func3']
}
df = pd.DataFrame(warn_data)
df

      CID   Type   File Function
0   54123  Type1  File1     App1
1   29465  Type2  File2    Func1
2   29466  Type3  File2     App2
3  432017  Type4  File2    Func2
4   20174  Type4  File3     App3
5   16017  Type5  File4    Func3